nav {
  background-color: rgba(47, 47, 47, 0.541);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-family: 'Orbitron', sans-serif;
}

nav a:hover {
  color: rgb(49, 49, 49)
}

main {
  text-align: center;
  background-color: #2F2F2F;
}

header {
  background-color: rgba(75, 75, 75, 0.541);
}

.App {
  text-align: center;
}

.who-i-am {
  text-align: center;
  background-color: rgb(165, 165, 165);
  border-radius: 15px;
  box-shadow: 5px 7px 10px gray;
  width: 85vw;
  margin: 0 auto;
}

/*                                           PROJECTS CSS                                            */
.project {
  width: 400px;
  height: 350px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}

.project-container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-evenly;
}

.project-container div {
  display: flex;
  justify-content: space-between;
}

.project-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-img {
  width: 400px;
  height: 200px;
  border-radius: 15px;
}

.project-img:hover {
  filter: blur(5px);
}

.project-img-blur {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  position: absolute;
  filter: blur(5px);
}

.button {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
}

.button:hover {
  background-color: gray;
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

/* #project-1 {
  background-image: url('/img/cubeX.png');
}
#project-2 {
  background-image: url('/img/potterGo.png');
}
#project-3 {
  background-image: url('/img/adventureAwaits.png');
}
#project-4 {
  background-image: url('/img/trailWeather.png');
} */

/*                                           WHOIAM CSS                                            */
/*                                           BOUNCY CSS                                            */
.bouncy {
  cursor: default;
  display: inline-block;
  border-radius: 5px;  
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.bouncy:hover {
  animation-name: rubberBand;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}