* {
  margin: 0;
  scroll-behavior: smooth;
}

main {
  background-color: #2F2F2F;
  padding: 15px 0 15px 0;
}

header {
  background-image: url(./img/conifer-daylight-evergreen-forest-23381.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.596);
  padding: 15px auto;
}

nav {
  background-color: rgba(47, 47, 47, 0.541);
  position: sticky;
  top: 0;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-family: 'Orbitron', sans-serif;
}

nav a:hover {
  color: rgb(98, 93, 93);
}

hr {
  background-color: black;
  width: 75%;
  height: 2px;
  margin: 0 auto;
}

.mobile {
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.mobile .links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.hamburger {
  display: block;
  position: absolute;
  top: 8px;
  left: calc(100vw - 25px);
  cursor: pointer;
}

.mobile .desktop {
  display: none;
}

.App {
  text-align: center;
}

.name {
  font-size: 3em;
}

.nav-name {
  font-size: 1.2em;
  font-weight: bold
}

.resume {
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

.resume:hover {
  color: blue;
}

/*                                           PROJECTS CSS                                            */
.project-container {
  width: 90vw;
  background-color: transparent;
  margin: 0 auto;
  display: grid;
  min-height: 800px;
  grid-template-rows: 36vh 1.2fr 36vh 1.2fr 36vh 1.2fr 36vh 1fr;
  grid-template-areas: "img1"
                        "desc1"
                        "img2"
                        "desc2"
                        "img3"
                        "desc3"
                        "img4"
                        "desc4";
}

/* .projects {
  background-color: rgb(165, 165, 165);
  border-radius: 15px;
  box-shadow: 0 7px 10px gray;
  width: 95vw;
  margin: 25px auto 15px auto;
} */

.project {
  width: 400px;
  height: 350px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: img;
}

.project1 {
  grid-area: img1;
}

.project2 {
  grid-area: img2;
}

.project3 {
  grid-area: img3;
}

.project4 {
  grid-area: img4;
}

.project1, .project2, .project3, .project4 {
  display: flex;
  justify-content: space-around;
}

.project-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-img {
  width: 90vw;
  height: 34vh;
  border-radius: 15px;
}

.project-img:hover {
  filter: blur(5px);
}

.project-img-blur {
  width: 90vw;
  height: 34vh;
  border-radius: 15px;
  position: absolute;
  filter: blur(5px);
}

.project1-description {
  grid-area: desc1;
}

.project2-description {
  grid-area: desc2;
}

.project3-description {
  grid-area: desc3;
}

.project4-description {
  grid-area: desc4;
}

.space {
  grid-area: extra-space;
}

.button {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  margin: 15px auto;
}

.button:hover {
  background-color: gray;
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

.frameworks {
  max-height: 50px;
  margin: 10px auto 15px auto;
  overflow-wrap: normal;
}

.frameworks p {
  margin: 0 5px;
  display: inline;
  border: 2px solid black;
  border-radius: 15px;
  background-color: tomato;
  padding: 5px;
}

.frameworks p:hover {
  background-color: rgb(204, 77, 55);
  cursor: pointer;
}

/*                                           SKILLS CSS                                             */
.skills {
  background-color: rgb(165, 165, 165);
  border-radius: 15px;
  box-shadow: 0 7px 10px gray;
  width: 85vw;
  margin: 25px auto 15px auto;
}

.skill-img-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-icon {
  padding: 10px;
  margin: 15px;
}

.skill-atag {
  color: black;
}

.skill-atag:hover {
  opacity: .8;
}

.fab {
  font-size: 4em;
  padding: 10px;
  margin: 15px;
}

/*                                           BOUNCY CSS                                            */
.bouncy {
  cursor: default;
  display: inline-block;
  border-radius: 5px;  
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.bouncy:hover {
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

/*                                           SOCIAL MEDIA CSS                                   */
.fa {
  padding: 7px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 10px;
}

.fa:hover {
  opacity: .7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-js-square {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

/*                                           MEDIA QUERIES CSS                                   */
@media screen and (min-width: 500px) {
  .project-img {
    width: 65vw;
    height: 34vh;
  }

  .project-img-blur {
    width: 65vw;
    height: 34vh;
  }
}

@media screen and (min-width: 900px) {
  .project-container {
    grid-template-rows: 225px 1.2fr 225px 1.2fr;
    grid-template-columns: 400px 1fr 400px;
    grid-template-areas: "img1 . img2"
                          "desc1 . desc2"
                          "img3 . img4"
                          "desc3 . desc4";
  }

  .project-img {
    width: 400px;
    height: 200px;
  }

  .project-img-blur {
    width: 400px;
    height: 200px;
  }

  .hamburger {
    display: none;
  }

  .mobile .desktop {
    display: block
  }
}